# ignore system files
.DS_Store
thumbs.db
__MACOSX

packages/multilingual/_notes/dwsync.xml

packages/multilingual/models/attribute/types/language/_notes/dwsync.xml

packages/multilingual/models/attribute/types/locale/_notes/dwsync.xml
